.header {
    margin-top: 76.15px;
    height: 100vh;
    background-image: url(../images/post-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80%;
}

.header__container {
    position: absolute;
    left: 50%;
    top: 35vh;
    transform: translateX(-50%);
}

.header__title {
    color: $white;
    font-size: $xx-large;
}