.main__container {
    margin: 70px 131.852px 0px 131.852px;
    padding: 15px 15px;
}

.main__paragraph-emphasis {
    font-family: $playfair;
    font-size: $large;
}

.main__paragraph {
    padding: 25px 0;
    font-size: $medium;
    font-weight: $light-w;
    line-height: 35px;
}